<div class="container">
  <div class="card-header">
    <h3>PERSONAS</h3>
  </div>
  <div class="card-boy">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Id</td>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Acciones</td>
          <td class="d-flex justify-content-around">
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
